*{
	box-sizing: border-box;
}
body{
	background-color: #e6e6e6;
}
main{
	box-sizing: border-box;
	margin: 0 100px;

}
header{
	height: 400px;
	background-repeat: no-repeat;
	background-size: auto;
	margin: 10 auto;
	padding-bottom: 10px;
}
header img{
	height: 500px;
	width: 500px;
	border-radius: 30%;
}
.mobile-nav{
	display: none;
}
.nav-container{
	float: inherit;
}
.nav-left{
	margin: 6.95%;
}
.nav-right{
	margin: 6.95%;
}
nav {
	margin: 0;
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	padding: 20px 0;
	top: 0;
	word-spacing: 100px;
	overflow: hidden;
	position: fixed;
	background-color: #00004d;
}

nav a{
	border-spacing: 50px;
}
a{
	text-align:center;
	text-decoration: none;
	color: #7575a3;
	font-size: 25px;
	color: white;
}
nav a:hover{
	text-decoration: underline; 
}
h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: 800;
	font-size: 40px;
	letter-spacing: 4px;
	text-decoration: underline;
	padding: 60px 0px 20px 0px;

}
.header-image{
	background-color: #404040;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about{
	padding-top: 10px;
	background-color: #33ffbb;
	display: flex;
	flex-direction: row;
}
.about p{
	text-align: left;
	padding: 5px 20px;
	font-size: 20px;
}
.aboutContainer{
	padding-top: 65px; 
}
.gallery img{	
	height: 550px;
	width: 100%;	
}
.gallery{
	/*position: relative;*/
	margin: auto;
}
.caption{
	text-align: center;
}
.testimonial{
	background-color: #33ffbb;
	font-size: 20px;
}
.name-and-email{
	display: inline-block;
	float: left;
	padding: 5px 50px;
}
form{
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100%;
}
input {

	border: 1px solid #3d3d5c;
	padding: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	width: 49.5%;
	position: inherit;
	float: left;
	margin-bottom: 10px;
	/*margin-right: 25px;
	margin-bottom: 15px;*/
}
.input{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
form textarea{
	border: 1px solid #3d3d5c;
	padding: 50px;
	font-size: 15px;
	letter-spacing: 2px;
	width: 100%;
	margin-bottom: 10px;
}
form button{
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	width: 100%;
	font-size: 25px;
	letter-spacing: 4px;
}
form button:hover{
	background-color: #8c8c8c;
	color: white;
}
footer{
	width: 86.1%;
	margin: 0 auto;
}
.icons{
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	background-color: #00004d;
}
#copyRight{
	border-top: 2px solid white;
	width: 100%;
	padding-top:10px; 
	text-align: center;
}

@media (max-width: 800px){

	main{
		margin: 0 auto;
	}
	.main-nav{
		display: none;
	}
	.mobile-nav{
		display: inline-block;
		margin: 0;
		padding: 0;
	}
	
}