*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: #051E74;
}
main{
	box-sizing: border-box;
	margin: 0 5%;
}
header{
	height: 600px;
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0 5% 3% 5%;
	padding-top: 77px;
	padding-bottom: 10px;

}
header img{
	height: 500px;
	width: 500px;
	border-radius: 30%;
	padding: 7px 0 0 7px;
}
.mobile-nav{
	display: none;
}
.expand {
	display: inline-block; 
	color: red;
	font-size: 50px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}
.menu-btn{
	z-index: 100;
}
.responsive-menu{
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	color: white;
	text-decoration: none;
	display: none;
}
ul{
	list-style: none;
}
nav {
	position: fixed;
	top: 0;
	width: 90%;
	text-align: center;
	letter-spacing: 2px;
	padding: 20px 0;
	word-spacing: 100px;
	background-color: #282827;
	z-index: 100;
}

nav a{
	border-spacing: 50px;
}

a{
	text-align: center;
	text-decoration: none;
	color: #F0E1D1;
	font-size: 25px;
	color: white;
	font-family: 'Encode Sans', sans-serif;
}
nav a:hover{
	text-decoration: underline;
	color: white; 
}

h1{
	text-transform: uppercase;
	text-align: center;
	font-family: 'Encode Sans', sans-serif;
	font-weight: 800;
	font-size: 40px;
	letter-spacing: 4px;
	text-decoration: underline;
	padding: 30px 0px 20px 0px;
}
h2{
	text-transform: uppercase;
	text-align: center;
	color: #F3F3F3;
	letter-spacing: 5px;
	margin: 0% 2% 2% 2%;
}
h4{
	text-align: center;
	color: #F3F3F3;
	padding-bottom: 2%;
}
.header-container{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin: 0 0 10px 0; 
	background-color: #F3F3F3;
}
.name{
	color: #282827;
	padding: 10% 0 0 15%;
	justify-content: space-between;
	
}
.about{
	border: double;
	padding-top: 10px;
	background-color: #F3F3F3;
	display: flex;
	flex-direction: row;
}
.about p{
	text-align: left;
	padding: 5px 20px;
	font-size: 20px;
}
.aboutContainer{
	padding-top: 10px; 
	margin: 0% 0 4% 0;
}
.gallery img{	
	height: 550px;
	width: 100%;	
}
.gallery{
	/*position: relative;*/
	margin: auto;
}
.caption{
	text-align: center;
	font-family: 'Berkshire Swash', cursive;
	font-size: 25px;

}
.testimonial{
	border: double;
	background-color: #F3F3F3;
	font-size: 20px;
}
.name-and-email{
	display: inline-block;
	float: left;
	padding: 5px 50px;
}
form{
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	width: 100%;
}
input {
	border: 1px solid #3d3d5c;
	padding: 20px;
	font-size: 15px;
	letter-spacing: 2px;
	width: 49.5%;
	position: inherit;
	float: left;
	margin-bottom: 10px;
}
.input{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
form textarea{
	border: 1px solid #3d3d5c;
	padding: 50px;
	font-size: 15px;
	letter-spacing: 2px;
	width: 100%;
	margin-bottom: 10px;
}
form button{
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	width: 100%;
	font-size: 25px;
	letter-spacing: 4px;
}
form button:hover{
	background-color: #8c8c8c;
	color: white;
}
footer{
	margin: 0 5%;
	padding-top: 10px;
	/*background-color: #647984;*/
}
.icons{
	display: flex;
	justify-content: space-around;
	padding-top: 10px;
	background-color: #282827;
	width: 100%;
}
.icons:hover{
	color: white;
}
#copyRight{
	width: 100%;
	padding-top:10px; 
	text-align: center;
	color: #F3F3F3;
}

@media (max-width: 995px){

	main{
		margin: 0%;
	}
	nav{
		display: none;
		margin: 2% 0 0 5%;
		padding: 0;
		font-size: 10px;
	}
	header{
		padding-top: 1px;
		top: 0;
		height: 70%;
		margin: 0;
	}
	.header-container{
		width: 100%;
	}
	h1{
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 2px;
	padding: 10px 0px 20px 0px;
	}
	.name{
	padding: 20% 20px 5px 20px;
	}
	header img{
	height: 400px;
	width: 400px;
	border-radius: 30%;
	padding: 7px 0 0 7px;
	}
	.mobile-nav{
		display: inline-block;
		width: 100%;
		margin: 0 auto;
		padding: 10px 0;
		background-color: #282827;
	}
	.gallery img{	
	height: 400px;
	width: 100%;	
	}
	.input{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	}
	input {
	width: 100%;
	}
	form textarea{
		padding: 30px;
		margin: 0 auto;
	}
	.icons{
		width: 100%;
	}
	footer{
		margin:0;
	}
}